In [1]:
import torch

In [3]:
import json
import numpy as np
import pandas as pd
import sys
import os
os.chdir('../')
with open('./config/data-params.json') as f:
    data_param = json.load(f)

In [9]:
highway=pd.read_csv(data_param['plan_data_dir'],header=None,sep=" ")
highway

            0         1            2         3         4
0    784.6001  1135.571     0.000000 -0.023598 -0.999722
1    815.2679  1134.930    30.674479 -0.010995 -0.999940
2    844.6398  1134.911    60.046371 -0.002048 -0.999998
3    875.0436  1134.808    90.450415 -0.001848 -0.999998
4    905.2830  1134.799   120.689735  0.004131 -0.999992
..        ...       ...          ...       ...       ...
176  594.5000  1211.000  6735.577816 -0.661828 -0.749655
177  630.9000  1181.300  6782.557053 -0.564178 -0.825653
178  670.6000  1159.000  6828.091419 -0.425906 -0.904767
179  711.2000  1143.500  6871.549595 -0.263706 -0.964603
180  753.2067  1136.417  6914.149258 -0.107399 -0.994216

[181 rows x 5 columns]